    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Water Drop</h2>
                <p>Increased droughts and related water scarcity scenarios are expected to be one of the harmful effects of global warming
				and, because of the local nature of these phenomena, some areas will be more prone to them than others. Understanding
				and properly measuring the overall and sector-wide economic impact of those episodes at the geographically finest available
				level is of crucial importance for the design of disaster risk management instruments and other policy-related issues. At the
				same time, it becomes necessary to assess whether this response varies over time. In other words, we need to know
				whether we adapt to climate change. Adaptation in the context of climate change is a concept that raises many questions:
				empirical estimates are scarce and highly desired by scientists and institutions, like the IPCC; how this adaptation
				mechanism can be embedded into economic models of climate change is also an unresolved issue. These problematic issues will be 
				addressed in this project.</p>
                
		 <p>The objective of this research project is twofold: on the one hand, measuring the economic impacts of droughts and test for the
				existence of adapting behaviour in the context of responses to droughts and, on the other hand, respond the demands of the
				IPCC that urge for progress in the integration and modelling of adaptation into climate-economy models. To do so, in a first
				stage I will apply econometric techniques envisaged by the new climate-economy literature to regionally detailed data and
				obtain estimates of the economic impacts of droughts and adapting behaviour. Then, I will resort to sophisticated climate-economy
				models, like CGE and IAM models, to shed light into the modelling of adapting behaviour under potentially uncertain scenarios.</p>
				
		  <p>The workload of this project is distributed into three Working Packages (WP), each devoted to one big block, namely impacts,
		    adaptation and drought modelling.</p>
            </div>
        </div>
    </section>
