    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>&copy; 20{{ site.time | date: '%y' }} <a href="https://www.davidgl.eu" target="_blank" rel="nofollow"><b>{{ site.owner.name }} {{ site.owner.surname }}</b></a>. {{ site.footer }}With the support of the <a href="https://www.mariecuriealumni.eu/home" target="_blank" rel="nofollow"><b>Marie Curie Alumni Association</b></a></p>
			<br>
			<p style="font-size: 14px">This research is part of a project that has received funding from the European Union's Horizon 2020 research and innovation programme <br>under the Marie Sk&#322;odowska-Curie grant agreement no. 705408.</p>
			<img src="/img/ECH2020.png" width="500" height="80">
        </div>
    </footer>
