
         <!-- Drought Impacts Section -->
    <section id="wp1" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Drought Impacts</h2>
                    <p>In the context of global warming, as drought episodes become increasingly frequent, it is crucial to address whether major cereal crops are becoming more sensitive to climate variations
					as to ensure food security in the years to come. </p>
		            <p>In a first stage, we benefit from ESYRCE, a Spanish field-level dataset on crop yields and surfaces spanning from 2003 to 2015 to estimate the impact of agricultural drought on rainfed cereals. 
					To characterise agricultural drought stress, we use the Vegetation Condition Index and the Temperature Condition Index, two remote sensing indicators of vegetation health and soil temperature, respectively. 
					We identify that both indicators are good predictors of cereal yields and are able to explain by themselves a good fraction of annual yield variation.		
					
					  <figure>
					  <img src="/img/TR.png" height="350" width="350">
					  <img src="/img/CB.png" height="350" width="350">
					  <figcaption>Fig. - The Drought Environment Index (DEI) for wheat (left) and barley (right) reveals decreased sensitivity of crops exposed to extreme drought stress, as described by EI quintiles.</figcaption>
					  
                    <p>We also build an environment index to measure changes of sensitivity of yields to drought stress. By looking at each crop, we find that the general stagnation of cereal yields in Spain during the last fifteen years 
					has been accompanied by an increase in resilience of wheat and barley fields to very adverse drought conditions, characterised by very high temperatures and extreme canopy stress, possibly attributable to the development 
					of more drought-resistant seed varieties.</p> 
		            <a href="http://www.davidgl.eu/impacts" target="_blank" class="btn btn-default btn-lg">More</a>
                </div>
            </div>
        </div>
    </section>
