<!-- Adaptation Section -->
    <section id="wp2" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Adaptation to Droughts</h2>
                <p>The challenge of confronting the impacts of climate change manifestations is often framed in terms of two potential paths that economic and social agents can take: adaptation and mitigation. 
				Adaptation is a response to climate change that seeks to reduce the vulnerability of social and biological systems to climate change effects. Even if emissions of greenhouse gases (GHG) are stabilised relatively soon, 
				climate change and its effects will last many years, and adaptation will be necessary. The capacity and potential for humans to adapt (called adaptive capacity) is unevenly distributed across different regions and populations. 
				Adaptation involves efforts to limit our vulnerability to climate change impacts through various measures, while not necessarily dealing with the underlying cause of those impacts. Empirical studies that measure any kind of 
				adapting behaviour are extremely scarce and really pursued by the scientific community.</p>
				
				<p>As critical as having accurate and proper estimates of the economic impact of droughts is determining how this effect evolves as these phenomena become more frequent. In the case that concerns us, it is expected that 

				economic agents will be able to internalise (at least partially) the harmful consequences of droughts and adapt to them eventually. Having estimates of the degree of adaptation of our economies to recurrent drought events would be extremely useful insofar as it could ease the design and implementation of drought-risk management instruments. As mentioned, the different degree of intensity of droughts episodes across space and the uneven adapting capacity of different individuals encourages us to look at this problematic at a local scale. </p>
            </div>
        </div>
    </section>

