     <!-- IAM Section -->
    <section id="wp3" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Integrated Assessment of Droughts</h2>
                    <p>In its Fifth Assessment Report, the Intergovernmental Panel on Climate Change (IPCC) complaints relentlessly about the lack of empirical adaptation estimates and about the small quantity and poor quality of exercises
					that seek to model adaptation in an analytical framework. While the first part of their claim will be partially addressed in the first stage of the project, I will deal with the second part during the subsequent stages.. </p> 	
					
                    <p>I will compare and further analyse the results obtained on the presence of adapting behaviour in response to droughts incorporating my results to Integrated Assessment Models (IAMs). 
					An IAM for climate change is a multi-equation model linking aggregate economic growth with simple climate dynamics to analyse the economic impacts of global warming. IAM models have proven themselves useful for 
					understanding some aspects of the economics of climate change. Integrated analysis of adaptation can assess the costs, benefits, and uncertainties of environmental policies, and ought to be able to provide important insights 
					for their development and implementation. Recent efforts have gone further towards making adaptation explicit by including adaptation as a specific control variable within IAMs. Still, there is broad agreement that more needs 
					to be done to get adaptation better represented within those models. Another issue is uncertainty. Climate change is all about uncertainty: uncertainty governing the natural processes involved, uncertainty arisen due to its 
					long-term nature, uncertainty on how agents react to those phenomena and uncertainty on how every event is modelled. Most IAMs are deterministic and way too complex to permit a proper incorporation of uncertainty. 
					However, some recent research papers propose a state-reduced formulation of the problem, making it suitable for uncertainty analysis. This model will serve us as a benchmark tool to predict the behaviour of economic agents 
					in the event of extreme weather events. With this exercise, I will be able to improve on the modelling of the damage function of IAM. </p> 
                </div>
            </div>
        </div>
    </section>
